# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Sensitive files
*.tfvars
*.tfvars.json
!example.tfvars

# IDE
.idea/
*.swp
*.swo
.vscode/
*.nvimlog
.nvimlog

# OS
.DS_Store
Thumbs.db

# Logs
*.log
